
div(class="container jtfj_footer")

    div(class="xnavbar xnavbar-fixed-bottom jtfj_globalFooterRow")
    
        a(href="javascript:void(0);" click="vm.showCopyrightInfo()") &copy; Handsome Bones 
        .
            | 
        
        a(href="#") Contact Us 
        .
            |
        
        a(href="#" click="showPrivacyPolicy()") Privacy 
        .
            |
        
        a(href="#" ng-click="showTermsOfService()") Terms of Service 
        
        span(class="pull-right")
            a(href="#") &nbsp;Site Map 
          
        span(class="pull-right")
            a(href="#") &nbsp;Feedback 
            .
                | 
        span(class="pull-right")
            a(href="#") Help 
            .
                | 
        
