html
head
    title Node Authentication
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    style
        body        { padding-top:80px; word-wrap:break-word; }
body
div(class="container")

    div(class="page-header text-center")
        h1
            span(class="fa fa-anchor") Profile Page
            a(href="/logout" class="btn btn-default btn-sm") Logout

    div(class="row")

        // LOCAL INFORMATION 
        div(class="col-sm-6")
            div(class="well")
                 h3
                    span(class="fa fa-user") Local

                    p
                        strong id
                        span : #{user._id}
                        br
                        strong email
                        span: #{user.local.email}
                        br
                        strong password
                        span: #{user.local.password}

    div(class="row")
        div(class="col-sm-12")
            a(href="/") Home

            