
<h4 *ngIf="debugView"> start JustTheFactsjack.html</h4>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Discuss</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/Admin/KnowledgeDomains']">Knowledge Domains</a>
          <a class="dropdown-item" [routerLink]="['/Admin/Facts']">Facts</a>
          <a class="dropdown-item" [routerLink]="['Admin/QuizTemplates']">Quiz Templates</a>
          <a class="dropdown-item" [routerLink]="['Admin/NodeUtilities']">Node Utilities</a>
        </div>
      </li>
      <li class="nav-item">
        <jtfj-view-debug-toggle-component></jtfj-view-debug-toggle-component>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<h4 *ngIf="debugView"> end JustTheFactsjack.html</h4>
