<div class="container">
    <h4>Node Utilities</h4>

    <div class="row">

      <div class="col-12">
        <ul>
          <li>
            <a href="javascript:void(0);" (click)='PingNode()'>Ping Node</a>
          </li>
          <li>
            <a href="javascript:void(0);" (click)='GetNodeStatus()'>Get Node Status</a>
          </li>
          <li>
            <a href="javascript:void(0);" (click)='AddNewKnowledgeDomain()'>Add new random Knowledge Domain to database.</a>
          </li>
          <li>
            <a href="javascript:void(0);" (click)='UpdateKnowledgeDomain()'>Update "my unique id"'s record in the database.</a>
          </li>
        </ul>
      </div>

    </div>
</div>