/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 60px;
}

span {
    font-style: italic;
}

.jtfj_listOddTableRow {
    background-color: #dcdcdc;
}

.jtfj_listTableHeaderRow {
    font-weight: bold;
}

.jtfj_listDataRow:hover {
    background-color: lightyellow;
}


.jtfj_itemMarkedForDeletion {
    border: dashed 2px red;
}

.jtfj_actionIcon {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.jtfj_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
