<div class="container">

    <div class="row">
        <div class="col-12">
            <h3>Knowledge Domains
                <a title="Add a mew Knowledge Domain" [routerLink]="['/Admin/KnowledgeDomain', 'New']">
                    <!-- <span class="glyphicon glyphicon-plus"></span> -->
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>

            </h3>
        </div>
    </div>

        <div class="row jtfj_listTableHeaderRow">

            <div class="col-4">
                Title
            </div>
            <div class="col-7">
                Description
            </div>
            <div class="col-1">
                Actions
            </div>

        </div>

        <div class="row jtfj_listDataRow" ng-class="{'jtfj_listOddTableRow' : $index % 2 == 0}" *ngFor="let aKD of AllKnowledgeDomains">

            <div class="col-4">
                {{aKD.Title}}
            </div>
            <div class="col-7">
                {{aKD.Description}}
            </div>
            <div class="col-1">
                <a [routerLink]="['/Admin/KnowledgeDomain', aKD.UniqueID]">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </div>

        </div>

        <div *ngIf="viewDebug">
            <div class="col-12">
                <hr/>
                <h5>All Knowledge Domains</h5>
                <pre>{{AllKnowledgeDomains | json}}</pre>
            </div>
        <div>

    </div>

