<style>
    .jtfj_itemMarkedForDeletion {
        border: dashed 2px red;
    }

    .gly-rotate-180 {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .jtfj_actionIcon {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
