<div class="container">

    <h3>All Facts</h3>

    <div class="row">
        <div class="col-12">
            <h3>
                Facts
                <a title="Add a mew fact" [routerLink]="['/Admin/Fact', 'New']">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>
            </h3>
        </div>

    </div>

    <div class="container">
        <div class="row jtfj_listTableHeaderRow">

            <div class="col-2">
                Domains
            </div>
            <div class="col-3">
                Fact Statement
            </div>
            <div class="col-6">
                Description
            </div>
            <div class="col-1">
                Actions
            </div>

        </div>

        <div class="row jtfj_listDataRow" xclass="{'jtfj_listOddTableRow' : $index % 2 == 0}" *ngFor="let aFact of AllFacts">

            <div class="col-2">
                {{getFriendlyKDDisplay(aFact)}}
            </div>
            <div class="col-3">
                {{aFact.FactStatement}}
            </div>
            <div class="col-6">
                {{aFact.Description}}
            </div>
            <div class="col-1">
                <span *ngIf="aFact && aFact.UniqueID &&viewDebug">ID: {{aFact.UniqueID}}</span>
                <a *ngIf="aFact && aFact.UniqueID" [routerLink]="['/Admin/Fact', aFact.UniqueID]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            </div>

            <!-- <div class="col-12">
            <pre>{{aFact | json}}</pre>
        </div> -->

        </div>

    </div>

    <!--<p>
    <a href="#/admin/knowledgedomain/123">View an individual knowledge domain.</a>
</p>
<p>
    <a href="javascript:void(0);" ng-click="vm.Ping()">Ping the service.</a>
</p>
<h5>All Knowledge Domains</h5>
<pre>{{vm.AllKnowledgeDomains | json}}</pre>-->

    <div *ngIf="viewDebug">
        <h5>All Facts</h5>
        <pre>{{AllFacts | json}}</pre>
    </div>

</div>